<div id="filterBar">
    <div>
        <button class="btn btn-outline-secondary" id="filterBtn" (click)="filterShown = !filterShown"><i class="bi bi-filter-left"></i> Filters</button>
    </div>
    <div *ngFor="let item of filtersUsed">
        <button class="btn btn-sm btn-outline-info" style="margin-left: 1vw;">{{item}}</button>
    </div>
</div>


<div id="filterDiv" *ngIf="filterShown">
    <form [formGroup]="filterForm" id="filterForm" (submit)="filter()">
        <div id="headerBox">
            <button class="btn btn-outline-secondary" (click)="filterShown = !filterShown" id="closeBtn"><i class="bi bi-x"></i></button>
            <h4 id="headerTitle">Filters</h4>
        </div>

        <div id="inputs">
            <div class="section">
                <label for="adresPostalCity">Adres</label>
                <input class="form-control" formControlName="adresPostalCity" id="adresPostalCity" type="text" placeholder="Zoek op adres, postcode, stad" />
            </div>
    
            <div class="section">
                <hr>
                <label for="max-price-per-hour">Prijsbereik:</label>
                <div class="range-slider">
                    <span class="range-selected"></span>
                </div>
                <div class="range-input">
                    <input class="form-control" formControlName="minPrice" type="range" min="0" max="100" [(ngModel)]="minPrice"/>
                    <input class="form-control" formControlName="maxPrice" type="range" min="0" max="100" [(ngModel)]="maxPrice"/>
                </div>
                
                <div class="d-flex" id="pricesInput">
                    <div>
                        <small id="minPriceText" class="form-text text-muted">Minimale prijs</small>
                        <input class="form-control" formControlName="minPrice" type="number" min="0" max="100" [(ngModel)]="minPrice"/>
                    </div>
                    <div>
                        <small id="maxPriceText" class="form-text text-muted">Maximale prijs</small>
                        <input class="form-control" formControlName="maxPrice" type="number" min="0" max="100" [(ngModel)]="maxPrice"/>
                    </div>
                </div>
            </div>
            
    
            
            <div class="section">
                <hr>
                <label for="chargerType">Type:</label>
                
                <select class="form-control" formControlName="chargerType" id="chargerType" formControlName="chargerType" required>
                    <option value="10" selected disabled hidden>Kies stekker type</option>
                    <option value="0">J1772</option>
                    <option value="1">CCS_Combo_1</option>
                    <option value="2">Type_2</option>
                    <option value="3">CCS_Combo_2</option>
                    <option value="4">CHAdeMO</option>
                    <option value="5">Tesla</option>
                    <option value="6">Muur stekker</option>
                </select>
            </div>
            
            <div class="section">
                <hr>
                <label for="startDate">Beschikbaar op: </label>
                <div style="display: flex;">
                    <input class="form-control" formControlName="startDate" type="date" id="startDate">
                    <input class="form-control" formControlName="startTime" type="time" id="startTime">
                    
                </div>  
            </div>
        </div>
        
        
        <div id="submitDiv">
            <button class="btn btn-secondary" type="submit"  id="filterToepassen">filters toepassen</button>
            <button class="btn" (click)="removeFilters()" id="filterRemove">Verwijder filters</button>
        </div>
        
    </form>
    
</div>
