/* .footer{
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 7vh; 
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    align-items: center;
} */

.footer{
    width: 100%;
    height: 7vh; 
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    align-items: center;
    align-content: center;
    margin-top: -7vh;
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: white;
}

.link{
    padding-left: 2vw;
}

#copyright{
    padding-left: 3vw;
    margin: 0;
}

#margindiv{
    margin: 10vh;
}