<h2 class="m-4">Oplaadputen in de buurt</h2>
<table class="table m-4 table-hover">
    <thead class="thead-light">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Snellaadpunt</th>
          <th scope="col">Prijs per uur</th>
          <th scope="col">Oplaad type</th>
          <th scope="col">Info</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let charger of chargers">
            <td scope="row" class="m-2">{{charger.id}}</td>
            <td class="m-2">{{charger.name}}</td>
            <td class="m-2">{{charger.quickCharge}}</td>
            <td class="m-2">€{{charger.pricePerHour}}</td>
            <td class="m-2">{{ this.utils.getChargerTypeName(charger.chargerType)}}</td>
            <td><a [routerLink]="['/chargers', charger.id]" routerLinkActive="router-link-active" ><button class="btn btn-secondary">Info</button></a></td>
        </tr>
    </tbody>
</table>



